In [1]:
import pandas as pd
import random

# Define possible values for each column
branches = ['cse', 'mnc', 'dsai', 'mech', 'ece', 'eee','energy' ,'chemistry', 'bsbe', 'civil']
years = [1, 2, 3, 4]
streams = ['btech', 'mtech', 'phd']
hostels = ['kapili', 'brahma', 'disang', 'dihing', 'dhansiri', 'subhansiri', 'kameng','lohit','barak','umiam']
girls_hostels = ['dhansiri', 'subhansiri']
coed_hostels = ['disang']
male_hostels = [h for h in hostels if h not in girls_hostels]

# Generate data
data = []
for i in range(1, 501):
    year = random.choice(years)
    branch = random.choice(branches)
    stream = random.choice(streams)
    gender = random.choice(['male', 'female'])
    
    if gender == 'female':
        hostel = random.choice(girls_hostels + coed_hostels)
    else:
        hostel = random.choice(hostels)
    
    row = [f"2025{i:04d}", year, branch, stream, hostel, gender]
    data.append(row)

# Create DataFrame
columns = ['rollno', 'year', 'branch', 'stream', 'hostel', 'gender']
df = pd.DataFrame(data, columns=columns)
df.head()

     rollno  year     branch stream      hostel  gender
0  20250001     1       mech  mtech      disang    male
1  20250002     4        ece  mtech       umiam    male
2  20250003     4  chemistry  btech      kapili    male
3  20250004     2        ece  btech  subhansiri    male
4  20250005     1        cse  mtech      disang  female

In [2]:
# Save to CSV
df.to_csv('student_data.csv', index=False)

## UPLOAD TO DB

In [3]:
# Requirements
host_name = "192.168.137.1"
user_name = "root"
user_password = "12341234"
database_name = "trial3" #overall database name
table_name = "student_data" #table name

In [4]:
import pandas as pd
import mysql.connector

# Load CSV file into a DataFrame
df = pd.read_csv('student_data.csv')  # Replace with your actual CSV file path

# Define your database connection details
conn = mysql.connector.connect(
    host=host_name,
        user=user_name,
        password=user_password,
        database=database_name)
cursor = conn.cursor()



# Prepare insert query dynamically
cols = ", ".join(df.columns)
placeholders = ", ".join(["%s"] * len(df.columns))
insert_query = f"INSERT INTO {table_name} ({cols}) VALUES ({placeholders})"

# Convert DataFrame rows to list of tuples and insert
data = [tuple(x) for x in df.to_numpy()]

# Execute in bulk for performance
cursor.executemany(insert_query, data)

# Commit changes
conn.commit()
cursor.close()
conn.close()

print(f"Successfully inserted {len(data)} rows into '{table_name}'!")

Successfully inserted 500 rows into 'student_data'!